<div class="container">
  <div class="card mx-auto mt-5">

    <h1 class="mx-auto mb-3">Pessoas</h1>

    <div *ngIf="people">
      <table class="table table-striped">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Custo (R$)</th>
          <th scope="col">-</th>
        </thead>
        <tbody *ngFor="let person of people; let i = index">
          <tr>
            <td> {{ i + 1 }} </td>
            <td> {{ person.name }} </td>
            <td> R$ {{ person.cost }} </td>
            <button class="btn-close excluir" (click)="removePerson(i)" aria-label="Delete"></button>
          </tr>
        </tbody>
      </table>
      <div>
        <p class="text-center total">Total: R${{ total }}</p>
      </div>
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#addPersonModal">
      Adicionar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addPersonModal" tabindex="-1" aria-labelledby="addPersonModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-3" id="addPersonModalLabel">Adicione uma pessoa</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="form-label" for="name">Nome:</label>
              <input class="form-control" width="50%" type="text" name="name" id="name" [(ngModel)]="newPersonName">
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-3 mx-auto" data-bs-dismiss="modal" (click)="addPerson()">Adicionar</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Abaixo o item -->

<div class="container">
  <div class="card mx-auto mt-5">

    <h1 class="mx-auto mb-3">Itens</h1>

    <div *ngIf="itens">
      <table class="table table-striped">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Preço (R$)</th>
          <th scope="col">Pessoas</th>
          <th scope="col">-</th>
        </thead>
        <tbody *ngFor="let item of itens; let i = index">
          <tr>
            <td> {{ i + 1 }} </td>
            <td> {{ item.name }} </td>
            <td> R$ {{ item.price }} </td>
            <td *ngFor="let cleiton of item.guys">
              {{ cleiton.name }},
            </td>
    
            <button class="btn-close excluir"  aria-label="Delete" (click)="removeItem(i)"></button>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#addItemModal">
      Adicionar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-3" id="addItemModalLabel">Adicione um item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="form-label" for="name">Item:</label>
              <input class="form-control" width="50%" type="text" name="name" id="name" [(ngModel)]="newItem">
            </div>

            <div class="form-group">
              <label class="form-label" for="price">Preço:</label>
              <input class="form-control" width="50%" type="number" name="price" id="price" [(ngModel)]="price">
            </div>

            <div class="form-group">
              <label class="form-label" for="people">Pessoas:</label>
              <select class="form-select" id="people" name="people" multiple [(ngModel)]="itemPeople">
                <option *ngFor="let person of people" [ngValue]="person">{{ person.name }}</option>
              </select>
            </div>

          </div>
          <button type="button" class="btn btn-primary mb-3 mx-auto" data-bs-dismiss="modal" (click)="addItem()">Adicionar</button>
        </div>
      </div>
    </div>

  </div>
</div>